<div class="container-fluid">
  <div class="row" *ngIf="project && project.id">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-4"><h2><strong>Project:</strong></h2></div>
        <div class="col-sm-8"><strong>{{project.project.name}}</strong></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><h2><strong>Description:</strong></h2></div>
        <div class="col-sm-8"><strong>{{project.project.specification}}</strong></div>
      </div>
      <div class="row">
        <h3><a [href]="project.repoUrl">Open GitHub repository</a> </h3>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="row" *ngFor="let check of checks">
            <div class="col-md-10">
              {{check.description}}
            </div>
            <div class="col-md-2">
              <span *ngIf="checkResults[check.id].name === 'Passed'" class="green"><b>OK</b></span>
              <span *ngIf="checkResults[check.id].name !== 'Passed'" class="red"><b>NOK</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row"><h2>Comments:</h2></div>
      <div class="row" *ngFor="let comment of comments">
        <div class="col-md-3"><img [height]="40" [width]="40" src="{{comment.user.avatarUrl}}"/></div>
        <div class="col-md-9">
          <div class="row">
            <strong>{{comment.user.name}} ({{comment.user.login}}) </strong> <span class="small">{{format(comment.datetime)}}</span>
          </div>
          <div class="row">{{comment.text}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <img [height]="40" [width]="40" src="{{user.avatarUrl}}" alt="Avatar"/>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" type="text" [(ngModel)]="newComment"></textarea>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" (click)="addComment()">Add</button>
        </div>

      </div>
    </div>
  </div>
</div>
