<div class="container">
  <div>
    <button type="button" class="btn btn-primary btn-lg" (click)="createOrUpdate()">
      <span *ngIf="!canCreate">Update task</span>
      <span *ngIf="canCreate">Create task</span>
    </button>
  </div>
  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" type="text" [(ngModel)]="task.name" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" type="text" [(ngModel)]="task.desc"></textarea>
  </div>
  <div class="form-group">
    <label>Demands:</label>
    <textarea class="form-control" type="text" [(ngModel)]="task.demands"></textarea>
  </div>
  <div class="form-group">
    <label>Test Cases:</label>
    <textarea class="form-control" type="text" [(ngModel)]="task.testCases"></textarea>
  </div>
  <div *ngIf="!canCreate" class="form-group">
    <label>Comments:</label>
    <textarea class="form-control" type="text" [(ngModel)]="task.comments"></textarea>
  </div>
  <div *ngIf="!canCreate" class="form-group">
    <label>Rating:</label>
    <input class="form-control" type="text" [(ngModel)]="task.rating"/>
  </div>
  <div class="form-group">
    <label>Tags:</label>
    <input class="form-control" type="text" [(ngModel)]="task.tags"/>
  </div>


</div>
