
<!--<div class="container">
  <input type="button" class="btn btn-success" value="Create new theme" (click)="popupTheme('edit', null)"/>
  <input type="button" class="btn btn-success" value="Create new task" [routerLink]="['/task/', -1]"/>
  my messages
  my tasks
</div>

<theme-edit id="theme-popup" class="modal" tabindex="-1" [theme]="currentTheme" role="dialog"></theme-edit>-->

<mat-tab-group dynamicHeight>
  <mat-tab label="Development">
    <div class="example-large-box mat-elevation-z4 border">
      User Project 1
    </div>
    <div class="example-large-box mat-elevation-z4 border">
      User Project 2
    </div>
    <div class="example-large-box mat-elevation-z4 border">
      User Project 3
    </div>
  </mat-tab>
  <mat-tab label="My Project">
    <table>
      <tr>
        <td><task-add-button></task-add-button></td>
      </tr>
      <tr *ngFor="let task of user.tasks">
        <td><task-view-min [task]="task"></task-view-min></td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
