<mat-tab-group dynamicHeight>
  <mat-tab label="Development">
    <div class="container">
      <div class="row">
        <user-tack-view-min *ngFor="let usertask of user.usertasks" [usertask]="usertask"  class="col-sm-3 example-large-box mat-elevation-z4"></user-tack-view-min>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="My Project">
    <div class="container">
      <div class="row">
        <task-add-button  class="col-sm-3 example-large-box mat-elevation-z4"></task-add-button>
        <task-view-min *ngFor="let task of user.tasks" [task]="task"  class="col-sm-3 example-large-box mat-elevation-z4"></task-view-min>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
